<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="XMRM" type="System.Configuration.NameValueSectionHandler" />
		<section name="Bootstrap" type="System.Configuration.NameValueSectionHandler" />
		<section name="MRM" type="System.Configuration.NameValueSectionHandler" />
		<section name="Common" type="System.Configuration.NameValueSectionHandler" />
		<section name="Control" type="System.Configuration.NameValueSectionHandler" />
		<section name="Model" type="System.Configuration.NameValueSectionHandler" />
		<section name="View" type="System.Configuration.NameValueSectionHandler" />
		<section name="Algorithm" type="System.Configuration.NameValueSectionHandler" />
		<section name="DV" type="System.Configuration.NameValueSectionHandler" />
		<section name="Dijkstra" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<XMRM>
		<add key="BaseFolder" value="bin/" />
		<add key="Assembly" value="MRM.dll" />
		<add key="Class" value="MRM.MRMSystem" />
	</XMRM>
	<Bootstrap>
		<add key="ModelAssembly" value="Model.dll" />
		<add key="ViewAssembly" value="View.dll" />
		<add key="ControlAssembly" value="Control.dll" />
		<add key="QueueAssembly" value="JM726.Lib.dll" />
		<add key="TableAssembly" value="JM726.Lib.dll" />

		<add key="ModelClass" value="Diagrams.Model" />
		<add key="ViewClass" value="Diagrams.View" />
		<add key="ControlClass" value="Diagrams.Control.Impl.Module.WallSandbox" />
		<add key="QueueClass" value="common.Queue.AsynchQueueFactory" />
		<add key="TableClass" value="Diagrams.Common.keytable.MapTableFactory" />

		<add key="AlgorithmFolder" value="." />
		<add key="ClearCreated" value="True" />
	</Bootstrap>
	<MRM>
		<add key="Recycle" value="True" />
	</MRM>
	<Common>
		<add key="Wait" value="50"/>
	</Common>
	<Control>
		<add key="TopologyFolder" value="Topologies" />
		<add key="SequenceFolder" value="Sequences" />

		<add key="RepositionControls" value="False" />
		<add key="ListeningChannel" value="-43"/>
		<add key="NotifyChannel" value="-44"/>
		<add key="UserFolder" value="../UserData/" />
		<add key="TimedPlayback" value="True" />
		<add key="MultiSendDelay" value="1000" />
		<add key="MultiSendNumber" value="25" />
		<!--<add key="TopologySchema" value="..\TopologySchema.xsd"/>-->
		<add key="RecordingEnabled" value="True"/>
		<add key="Toggle.Build.Default" value="True"/>
		<add key="Toggle.EndPointMode.Default" value="False"/>
		<add key="Toggle.ShowUpdatePackets.Default" value="True"/>
		<add key="Toggle.SendMultiplePackets.Default" value="False"/>
		<!--<add key="Button.Play.Name" value="Play"/>-->

		<add key="PacketsOnLoad" value="True" />
	</Control>
	<Model>
		<add key="Algorithm" value="DV"/>
		<add key="WaitMult" value="15"/>
	</Model>
	<Algorithm>
	</Algorithm>
	<DV>
		<add key="EverPrint" value="False"/>
		<add key="AlwaysPrint" value="False"/>
		<add key="PoisonReverse" value="False"/>
	</DV>
	<Dijkstra>
		<add key="EverPrint" value="False"/>
		<add key="AlwaysPrint" value="False"/>
	</Dijkstra>
	<View>
		<!-- Node:0, Colour:1, Target:2, TargetColour:3, Hop:4, HopColour:5, Link:6, Distance:7 -->
		<add key="TableFormat" value="{2},{3},{4},{5},{7}"/>
		<add key="WaitMultiplier" value="5"/>
		<add key="PacketLeng" value=".2f"/>
		<add key="DefaultMovesPerUnit" value="3"/>
		<add key="MinMovesPerUnit" value="1"/>
		<add key="MaxMovesPerUnit" value="6"/>
		<add key="PacketsPerThread" value="20"/>
	</View>
	<appSettings>
		<add key="PrintStackTrace" value="True" />

		<add key="log4net.Config" value="../log4net.xml"/>
		<add key="log4net.Config.Watch" value="True"/>
	</appSettings>
</configuration>

